@import './colors/blue2.scss';
// .v-btn,
// .v-card,
// .v-sheet {
//   border-radius: 8px; // Глобальное значение для закруглений
// }

// .v-btn.rounded-sm {
//   border-radius: 4px; // Переопределение для малого закругления
// }

// .v-btn.rounded-lg {
//   border-radius: 12px; // Переопределение для большого закругления
// }
.v-text-field {
    border-radius: 2px !important; /* Установите нужное значение */
}
$theme-colors: (
  primary: $primary
);
$error: red;
$text_on_primary: #fff;

// Форма
h1 {font-size: 1.8em;}
h2 {font-size: 1.4em;}
.form_header {margin-bottom: 20px;}

// Для нормального отображения datapicker-а
.v-picker {
    width: auto !important;
    max-width: 350px !important; /* Установите нужную ширину */
    height: auto;
}
.v-date-picker-month__day button.text-primary{
    // если цвета календаря primary, то чтобы текущий день не был $primary на $primary
    color: #fff !important;
}
.v-date-picker-months{
    height: 600px !important;
}

// размеры шрифта в полях
.v-field__input .v-autocomplete__selection-text, .v-field__field input[type=text], .v-input__control textarea, .v-field__input input[type=text]{
    font-size: 12px !important;
}

.v-field__field .v-field-label{ // placeholder
    font-size: 12px;
}
.v-select__selection-text {
    font-size: 12px;
}

.v-list-item-title {
    font-size: 12px !important; /* Размер шрифта для пунктов списка */
  }

table.tbl1 {
    border-collapse: collapse;
    width: 100%;
}
input.inp[type=text], select.inp {
    border: 1px solid gray;
    height: calc(2.25rem + 2px);
}
// select.inp {
//     -webkit-appearance: auto;
//     -moz-appearance: auto;

// }
button.inp {
    border: 1px solid gray;
    background-color: rgb(239, 239, 239);
    padding: 5px;
}
.block {
    display: block;
    padding:0;
    margin: 0;
}
.w100, .w60, .w50, .w40, .w30{
    vertical-align: top;
}
.w100 {
    width: 100%;
}
.w60 {
    width: calc(60% - 10px);
    margin: 0;
    display: inline-block;
}
.w50 {
    width: calc(50% - 10px);
    margin: 0;
    display: inline-block;
}
.w40 {
    width: calc(40% - 10px);
    margin: 0;
    display: inline-block;
}
.w30 {
    width: calc(30% - 10px);
    margin: 0;
    display: inline-block;
}
a {color: #253a5d;;}
.mt10{
    margin-top: 10px;
}
table.tbl1 td {
    border: 1px solid gray;
    padding: 2px 5px;
}
table.tbl1  thead td {
    background: $lighten4;
}
table.tbl1 tr:nth-child(2n+1) {
  background: $lighten5;
}

table.mini {
    border-collapse: collapse;
}
table.mini td{
    border: 1px solid gray;
    padding: 0px 5px;
}
html table.sm td {font-size: 10pt !important;}
html table.x-sm td {font-size: 8pt !important;}
.v-btn.bg-primary {
    background-color: $primary !important;
}
.v-btn.text-primary{
    background-color: $primary !important;
}
.v-selection-control__input::before {
    background-color: $primary !important;
}

/*
.v-input__control {
    max-width: 800px !important; 
}
*/
// .crm_field{
//     margin-bottom: 10px;
// }
@media only screen and (max-width: 1000px) {
    .form_header {margin-bottom: 20px; font-size: 1.5em;}
}