@import './colors/blue2.scss';
// Форма
.form_header {margin-bottom: 20px;}

table.tbl1 {
    border-collapse: collapse;
    width: 100%;
}

table.tbl1 td {
    border: 1px solid gray;
    padding: 2px 5px;
}
table.tbl1  thead td {
    background: $lighten4;
}
table.tbl1 tr:nth-child(2n+1) {
  background: $lighten5;
}

html table.sm td {font-size: 10pt !important;}
html table.x-sm td {font-size: 8pt !important;}

/*
.v-input__control {
    max-width: 800px !important; 
}
*/
@media only screen and (max-width: 1000px) {
    .form_header {margin-bottom: 20px; font-size: 1.5em;}
}