// у элемента fa с классом .primary устанавливаем соответствующий цвет
//.svg-inline--fa.primary {color: $primary;}

svg[color=primary]{
    color: $primary !important;
}
svg[x-small]{
    font-size: 10px !important;
}
svg[small]{
    font-size: 12px !important;
}
svg[medium]{
    font-size: 14px !important;
}
svg[large]{
    font-size: 16px !important;
}
svg[x-large]{
    font-size: 18px !important;
}
.v-btn[x-small]{
    font-size: 10px !important;
    padding: 5px ;
    height: auto !important;
}
.v-field__overlay {
    background-color: #fff !important;
}



.v-input__control{
    border-bottom: none;
}
.description_container {
    font-size: 12px;
    font-weight: normal;
}
textarea.v-field__input {
    // border: 1px solid gray !important;
    resize: vertical;
}
// .v-field{
//     margin-bottom: 20px;
// }

/* Общие стили для текста и полей ввода */
/* Размер шрифта для элементов списка */
