$primary: #253a5d;
$lighten1: #5C6BC0;
$lighten2: #7986CB;
$lighten3: #9FA8DA;
$lighten4: #C5CAE9;
$lighten5: #E3F2FD;
$darken1:#253a5d;
$darken2: #1976d2;
$darken3: #1565C0;
$darken4:#0D47A1;
$light: #fff;
$error: red;
$text_on_primary: #fff;