$primary: #2196F3;
$lighten1: #90CAF9;
$lighten2: #64B5F6;
$lighten3: #90CAF9;
$lighten4: #BBDEFB;
$lighten5: #E3F2FD;
$darken1:#1E88E5;
$darken2: #1976d2;
$darken3: #1565C0;
$darken4:#0D47A1;
$light: #fff;
$error: red;