$primary: #4CAF50;
$lighten1: #66BB6A;
$lighten2: #81C784;
$lighten3: #A5D6A7;
$lighten4: #C8E6C9;
$lighten5: #E8F5E9;
$darken1:#43A047;
$darken2: #388E3C;
$darken3: #2E7D32;
$darken4:#1B5E20;
$light: #fff;
$error: red;